<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Largest Smallest</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <table border="1">
        <tr>
            <td>Number1</td>
            <td><input type="text" name="txt_no1" placeholder="Enter First Number1" required></td>
        </tr>
        <tr>
            <td>Number2</td>
            <td><input type="text" name="txt_no2" placeholder="Enter First Number2" required></td>
        </tr>
        <tr>
            
            <td colspan="4" align="center">
                <input type="submit" name="btnsubmit" value="Submit">
            </td>
        </tr>
        <tr>
            <td>Largest</td>
            <td>{{l}}</td>
        </tr>
        <tr>
            <td>Smallest</td>
            <td>{{s}}</td>
        </tr>
</body>
</html>