<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adminreg</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <table border="3">
        <tr>
            <td>Name</td>
            <td><input type="text" name="txt_name" placeholder="Enter Name" required></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="txt_email" placeholder="Enter email" required></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="txt_pass" placeholder="Enter password" required></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
            <input type="submit" name="btn_submit" value="submit"></td>
        </tr>
        </table>
        <table border="3"> 
            <tr>
                <td>S No</td>
                <td>Admin Name</td>
                <td>Admin Email</td>
                <td>Admin Password</td>
                <td>Action</td>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.admin_name}}</td>
                <td>{{i.admin_email}}</td>
                <td>{{i.admin_password}}</td>
                <td></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>